html, body {
    margin: 0px;
    height: 100%;
}

header {
    background:rgb(43, 42, 42);
}

.page-title {
    font-size: 25px;
}

.admin-wrapper {
    width: 100%;
    height: calc(100% - 62.1px);
    display: flex;
}

.admin-wrapper .left-sidebar {
    width: 17%;
    height: auto;
    background-color: #0582ca;
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: white;
}

.admin-wrapper .left-sidebar ul a {
    padding: 18px;
    display: block;
    border-bottom: 1px solid #04a2fd;
}

.admin-wrapper .left-sidebar ul a:hover {
    background: #04a2fd;
}

.admin-wrapper .admin-content {
    width: 83%;
    height: 100%;
    padding: 40px 100px;
    overflow-y: scroll;
    margin: auto;
}

.admin-wrapper .admin-content .button-group .btn {
    background: #04a2fd;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
    padding: .7rem 1.3rem;
}

.admin-wrapper .admin-content .button-group .btn:hover {
    color: White !important;
    background: #0582ca;
}

.admin-content .page-title {
    text-align: center;
    margin-bottom: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #0582ca;
}

table .edit {
    color: green;
}

table .delete {
    color: red; 
}

table .publish {
    color: blue;
}

table .reported {
    color: rgb(255, 209, 5);
}

.edit:hover, .delete:hover, .publish:hover {
    text-decoration: underline;
}

form div {
    margin-bottom: 20px;
}