* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 23px;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem; 
    background: #04a2fd;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
}

.btn-big {
    padding: .7rem 1.3rem;
}

.comment-btn {
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn:hover {
     color: White !important;
     background: #0582ca;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgb(211, 210, 210);
    outline: none;
    color: black;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.msg {
    width: 90%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

.msg.success {
    color: green;
    border: 1px solid green;
    background: rgba(10, 192, 10, 0.212);
}

.msg.error {
    color: rgb(206, 30, 30);
    border: 1px solid rgb(206, 30, 30);
    background: rgba(255, 0, 0, 0.336);
}

/* NAVBAR */

header {
    /* background:rgb(43, 42, 42); */
    background: #043d6b;
    height: 67.1px; 
    z-index: 8888;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin : 8px;
    margin-top : 13px;
    font-family: 'Roboto', sans-serif;
}

header .logo-text span {
    color: #04a2fd;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 67px;
    right: 0px;
    width: 211px;
    display: none;
    z-index: 88888;
}

header ul li:hover ul {
    display: block ;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: white;
    color: rgb(172, 172, 172);
}

header ul li ul li a.logout {
    color: red;
}

header ul li ul li a.dashboard:hover {
    background: #0582ca;
    color: white;
}

header ul li a {
    display: block;
    padding: 23.4px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #0582ca;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
    z-index: 8888;
}

.page-wrapper {
    min-height: 100%;
}

.page-wrapper a:hover {
    color: #0582ca;
}

/* POST SLIDER */
.post-slider {
    position: relative;
}

.post-slider .slider-title {
    text-align: center;
    margin : 30px;
}

.post-slider .next {
    position: absolute;
    top: 60%;
    right: 30px;
    font-size: 1.3em;
    color: #0582ca;
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 60%;
    left: 30px;
    font-size: 1.3em;
    color: #0582ca;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 90%;
    height: 350px;
    margin: 0px auto;
    margin-left: 5.7%;
    overflow: hidden;
    padding : 10px 0px;
}

.post-slider .post-wrapper .post {
    background-color: white;
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(211, 210, 210);
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 10px;
}


.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* CONTENT */

.legal_notice {
    width: 90%;
    margin: auto;
    text-align: justify;
}

.content {
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content {
    width: 70%;
    float: left;
}

.content .main-content.single {
    background: white;
    padding: 20px 50px;
    float: left;
    border-radius: 5px;
    font-size: 1.1em;
}

.content .main-content.single .post-title {
    text-align: center;
    margin-bottom: 40px;
}

.content .main-content.single .post-content {
    text-align: justify;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    position: relative;
    box-shadow: 1rem 1rem 1rem -1rem rgb(211, 210, 210);
}

.content .popular .post {
    border-top: 1px solid hsl(240, 3%, 85%);
    margin-top: 10px;
    padding-top: 10px;
}

.content .popular .post img {
    height: 60px;
    width: 80px;
    float: left;
    margin-right: 10px;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.content .main-content .post .read-more:hover {
    background: #0582ca;
    color: white;
    transition: .25s;
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .main-content .recent-post-title {
    margin: 20px;
}

.content .sidebar {
    width: 29.8%;
    float: left;
}

.content .sidebar.single {
    padding-left: 20px;
}

.content .sidebar .section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(211, 210, 210);
}

.content .sidebar .section-title {
    margin: 10px 0px;
}

.content .sidebar .section.search {
    margin-top: 81px; 
}

.content .sidebar .section.topics ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.content .sidebar .section.topics ul li a {
    border-top: 1px solid hsl(240, 3%, 85%);
    display: block;
    padding: 15px 0px;
    transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

.content .comments-section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(211, 210, 210);
}

.content .comments-section .text-input {
    margin-top: 5px;
}

.content .comments-section .comments-title {
    margin-bottom: 10px;
}

.content .comments-section .comment-preview {
    background-color: #05a3ff1e;
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 5px;
}

.content .comments-section .reported {
    background: rgba(255, 0, 0, 0.185);

}

.btn-reported {
    float: right;
    margin-right: 5px;
    color: red;
}

.btn-report {
    float: right;
    margin-right: 5px;
}


/* AUTH PAGES */
.auth-content {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(211, 210, 210);
}

.auth-content .form-title {
    text-align: center;
}

.auth-content form div {
    margin-bottom: 10px;
}

.auth-content form p {
    text-align: center;
}

.auth-content form p a {
    text-decoration: underline;
}

/* .auth-content form div button {
    float: right;
    margin-right: 20px;
} */


/* FOOTER */
.footer {
    background: rgb(43, 42, 42);
    color:  rgb(148, 148, 148);
    height: 400px;
    position: relative;
    margin-top: 100px;
}

.footer .foter-content {
    height: 350px;
    display: flex;
}

.footer .foter-content .footer-section {
    flex: 1;
    padding: 25px;
    margin-top: 15px;
}

.footer .foter-content h1, .footer .foter-content h2 {
    color: white;

}

.footer .foter-content .about h1 span {
    color: #04a2fd;
}

.footer .foter-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .foter-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.6em;
    border-radius: 5px;
    transition: all .3s;
}

.footer .foter-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
}

.footer .foter-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s; 
}

.footer .foter-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;

}

.footer .foter-content .contact-form .contact-input {
    background: rgb(26, 25, 25);
    color: rgb(216, 215, 215);
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}

/* .footer .foter-content .contact-form .contact-input:focus {
} */

.footer .foter-content .contact-form .contact-btn {
    float: right;
    margin-top: 20px;
}

.footer .footer-bottom {
    background: rgb(32, 32, 32);
    color: rgb(216, 215, 215);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}














